.logo {
    display: inline-block;
    position: relative;
    font-size: 2vmin;
    opacity: 1!important;
    z-index: 9999;
    cursor: pointer;
}

.logo-letter {
    position: relative!important;
    display: block;
    float: left;
    width: 3vmin;
    height: 3vmin;
    border-top: 0.25vmin solid currentColor;
    line-height: 3vmin;
    text-align: center;
    z-index: 9999;
    opacity: 1!important;
    transition: all 0.3s;
}
.logo-letter:before {
    position: absolute;
    top: -0.25vmin;
    right: -0.25vmin;
    display: block;
    width: 0.25vmin;
    height: 3vmin;
    background: #f2c744;
    content: "";
    transition: all 0.3s;
}
.logo-letter .is-active:before {
    top: -0.25vmin;
    height: 0.25vmin;
}
.logo-letter .is-active:last-child:before {
    height: 0.25vmin;
    top: -0.25vmin;
}

.logo-letter:nth-child(2) {
    transform: translateY(3vmin);
}
.logo-letter:nth-child(2).is-active {
    transform: translateY(0);
}

.logo-letter:nth-child(3) {
    transform: translateY(6vmin);
}
.logo-letter:nth-child(3).is-active {
    transform: translateY(0);
}

.logo-letter:nth-child(4) {
    transform: translateY(9vmin);
}
.logo-letter:nth-child(4).is-active {
    transform: translateY(0);
}

.logo-letter:nth-child(5) {
    transform: translateY(12vmin);
}
.logo-letter:nth-child(5).is-active {
    transform: translateY(0);
}
